@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}


/*menu*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #3B3B3B;
    font-weight: bold;
}

header a{
    text-decoration: none;
    color: #3B3B3B;
}
header nav{
    min-width: 50%;
}
header ul{
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*Introdução*/
.introducao{
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.introducao div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
}
.introducao div p:first-of-type{
    font-size: 2em;
}
.introducao div p:first-of-type > span{
    color: #00C6CF;
}
.introducao div a{
    text-decoration: none;
    background-color: #3B3B3B;
    color: #fff;
    max-width: fit-content;
    padding: .5rem 1rem;
    border-radius: 2px;
    margin: 3rem auto 7rem 0;
}

.introducao img{
    max-width: 40%;
}

