@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

header {
  color: #3B3B3B;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  padding: 0rem 3rem;
}
nav .logo h1 a {
  text-decoration: none;
  color: #00C6CF;
}

nav.stick .logo h1 a{
  color : black;
}


nav .menu ul {
  list-style-type: none;

  display: flex;
  padding: 3rem;
  font-size: 1.1em;
}
nav .menu ul li{
  font-weight: bold;
  padding: 1rem 0.5rem;
  transition: background-color 0.3s;
}

nav .menu ul li a {
  text-decoration: none;
  color: #3B3B3B;
}

nav.stick{
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  transition: 0.3s;
  background-color: #00C6CF;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.342);
  z-index: 19999;
}


.menuToggle{
  position: absolute;
  right: 2rem;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  padding: 0 23px;
}

.menuToggle::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #333;
  transform: translateY(-8px);
  transition: 0.3s;
}

.menu.open .menuToggle::before{
  transform: translateY(0px) rotate(225deg);
}

.menuToggle::after{
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #333;
  transform: translateY(8px);
  transition: 0.3s;
  box-shadow: 0 -8px 0 #333;
}

.menu.open .menuToggle::after{
  transform: translateY(0px) rotate(-225deg);
  box-shadow: 0 0px 0 #333;
}

.menuToggle{
  display: none;
}

@media (max-width: 600px){
  .menuToggle{
    display: block;
  }

  .menu ul{
    display: flex;
    visibility: hidden;
    overflow-y: hidden;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height:0px;
    top: 70px;
    right: 0px;
    background-color: #f3f3f3;
    padding: 1rem;
    z-index: 100;
  }

  nav.stick .menu ul{
    top: 60px;
  }

  .menu ul li{
    margin-bottom: 3px solid rgba(0, 0, 0, 0.664);
  }
  .menu.open ul{
    visibility:visible ;
    height: calc(100vh - 70px);
    overflow-y: auto;
    transition: 0.5s;
  }
  nav.stick .menu.open ul{
    height: calc(100vh - 60px);
  }
}